* {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin: 3rem 0;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  margin: 2rem 0;
}

h3 {
  font-size: 21px;
  color: gray;
  font-weight: normal;
  margin: 2rem 0;
}

a {
  color: aquamarine;
  font-size: 16px;
}

footer {
  text-align: right;
  color: gray;
  font-weight: 300;
  font-size: 25px;
  margin: 2rem 1rem;
}

img {
  display: block;
  margin: 1rem auto;
}
